
<div class="container">
    <div class="screen">
        <div class="screen_content">
            <form class="login" [formGroup]="loginForm">
                <div class="login_header"><h4>Login</h4></div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input formControlName="username" class="login_input"
                     [ngClass] type="email" placeholder="username@gmail.com">
                    <div *ngIf="submitted && loginForm?.controls?.['username']?.errors?.['required']">Required field</div>
                </div>

                <div class="login__field">
                    <i class="login_icon fas fa-lock"></i>
                    <input type="text" formControlName="password" class="login_input" 
                    [ngClass] placeholder="password">
                    <div *ngIf="submitted && loginForm?.controls?.['password']?.errors?.['required']">Required field</div>
                </div>
                <button (click)="submitData()" class="button login_submit" type="submit"><span class="button_text" >Login</span>
                    <i class="button_icon fas fa-chevron-right"></i>
                </button>
                <div>
               </div>
            </form>
        </div>
    </div>
    <div>
    <div class="pro">
        <p>Offering a service?
            <span>
            <ul>
                <a href="/register">Register as a professional</a>
            </ul>
            </span>
        </p>
    </div>
    <div class="signup">
        <p>Looking for a service?
            <span>
            <ul>
                <a href="/">Get started</a>
            </ul>
            </span>
        </p>
    </div>
</div>
</div>
