
<div class="container">
    <div class="screen">
        <div class="screen_content">
            <form class="login">
                <div class="login_header"><h4>signup</h4></div>
                <div class="login__field">
                    <i class="login_icon fas fa-lock"></i>
                    <input class="login_input" type="text" placeholder="fullnames">
                </div>
                <div class="login__field">
                    <i class="login_icon fas fa-lock"></i>
                    <input class="login_input" type="text" placeholder="surname">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input class="login_input" type="text" placeholder="email">
                </div>
                <div class="login__field">
                    <i class="login_icon fas fa-lock"></i>
                    <input class="login_input" type="text" placeholder="password">
                </div>
                <button class="button login_submit" type="submit"><span class="button_text" >Create account</span>
                    <i class="button_icon fas fa-chevron-right"></i>
                </button>
                <div>
               </div>
               <div class="pro">
                <p>Already have an account?
                    <span>
                    <ul>
                        <a class="login_ref" href="/login">Login</a>
                    </ul>
                    </span>
                </p>
            </div>
            </form>
        </div>
    </div>
    <div>
</div>
</div>

