
<app-navigation></app-navigation>
<header>
    <h1>Our Services</h1>
</header>
<div class="container">
    <div class="service-card">
        <img src="/assets/carrepairs.jpeg" alt="Mechanical Services">
        <h2>Mechanical Services</h2>
        <p>Reliable mechanical services to keep your vehicles running smoothly.</p>
    </div>
    <div class="service-card">
        <img src="/assets/transport.jpg" alt="Transportation Services">
        <h2>Transportation Services</h2>
        <p>Efficient and safe Transportation services to meet all your needs.</p>
    </div>
    <div class="service-card">
        <img src="/assets/home.png" alt="Construction & Home improvement">
        <h2>Construction & Home improvement</h2>
        <p>Quality construction and home improvement services for your dream home.</p>
    </div>
    <div class="service-card">
        <img src="/assets/hadware.jpg" alt="Hardware & sofware solutions">
        <h2>Hardware & sofware solutions</h2>
        <p>Reliable mechanical services to keep your vehicles running smoothly.</p>
    </div>
    <div class="service-card">
        <img src="/assets/tutor.jpg" alt="Hardware & sofware solutions">
        <h2>Tutoring</h2>
        <p>Expert tutoring services to help you excel in your studies.</p>
    </div>

</div>
