<h3>{{item.name}}</h3>
<div class="row">
    <div class="col-md-3"><img src="/assets/chick.jpg" width="200px"></div>
    <div class="row">
        <div class="col-md-3">Description: {{item.description}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Category: {{item.category}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Price: {{item.price}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="addToCart()" id="addToCart">Add to Cart</button>
        </div>
    </div>


</div>
